body {
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

header {
    font-family: "Oswald", "Helvetica Neue", helvetica, arial, sans-serif;
    color: #1b1f22;
    font-size: 1.125em;
    letter-spacing: 1px;
}

header h1 {
    display: inline-block;
}

header a.btn-donate,
header a:hover.btn-donate,
header a:visited.btn-donate {
    display: inline-block;
    background-color: #9e0022;
    border: 1px solid #9e0022;
    color: #fff;
    line-height: 2;
    padding: 5px 25px;
}

header a:hover.btn-donate {
    background-color: #000;
    border: 1px solid #000;
    text-decoration: none;
}

header nav .navbar-nav li {
    padding: 10px 1em;
}

header nav .navbar-nav li.nav-item a.nav-link,
header nav .navbar-nav li.nav-item a:visited.nav-link {
    display: inline-block;
    padding: 0;
    color: #1b1f22;
    text-decoration: none;
    transition: color 0.2s;
    border-bottom: 3px solid #fff;
}

header nav .navbar-nav li.nav-item a:hover.nav-link {
    color: #1b1f22;
}

header nav .navbar-nav li.nav-item a:hover.nav-link,
header nav .navbar-nav li.nav-item a.active {
    border-bottom: 3px solid #9e0022;
}

main section.jumbotron {
    background-color: #333;
    color: #fff;
}

a,
a:hover,
a:visited {
    color: #9e0022;
}

a:hover {
    text-decoration: underline;
}